---
layout: default
popup-gallery: true
gallery-background: bg-dark
gallery:
  - column-size: col-6
    aspect-ratio: square
    background_image: /images/the-sleep-co-original3.jpg
    type: dog
  - column-size: col-6
    aspect-ratio: square
    background_image: /images/the-sleep-co-original4.jpg
    type: cat
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-original4.jpg
    type: dog
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-original3.jpg
    type: sheep
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-original4.jpg
    type: dog
  - column-size: col-12
    aspect-ratio: landscape-wide
    background_image: /images/the-sleep-co-original2.jpg
    type: cat
---
<!--------------- Header Banner ------------------->
<header class="grid tall-60"> 
        
    {% include header-nav.html %}

    <div class="col-12-middle text-center"> 
        <h3 class="font-weight-extra-bold editable">
            <span class="featured-text"> explore </span>  our world
        </h3>
        <h1 class="font-weight-light editable">
            your dreamful and cozy place
        </h1> 
    </div> 
</header>


<!-- Gallery -->

{% if page.popup-gallery == true %}
<section class="padded {{page.gallery-background}}"
>

<!-- Popup Gallery -->
  <h2>Popup Gallery</h2>
    <div class="gallery grid" id="lightgallery">

        {% for item in page.gallery %}
        {% if item.type != 'dog' %}

        <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
        </div>
      </a> 

        {% endif %}
        {% endfor %}

      </div>

  <!-- this is a good option for the case of "see exsamples of our work" -->
      <!-- <div class="gallery grid" id="lightgallery-2" style="padding: 0.5%">

        <a class="button-gallery" href="/images/the-sleep-co-original4.jpg" title="Funny Dog 1">
            View Our Work 
      </a> 
        <a href="/images/the-sleep-co-original4.jpg" title="Funny Dog 2"></a>
        <a href="/images/the-sleep-co-original2.jpg" title="Cozy & Soft"></a>
        <a href="/images/the-sleep-co-original3.jpg" title="Our Products"></a>
        <a href="/images/the-sleep-co-original4.jpg" title="Funny Dog 3"></a>
     
      </div> -->
</section>
{% else %}

    <section class="padded {{page.gallery-background}}">
      <h2>Standard Gallery</h2>
      <div class="gallery grid">
  
          {% for item in page.gallery %}
          <div class="{{item.column-size}}">
          <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
          </div>
          </div> 
          {% endfor %}
        </div>
    </section>

{% endif %}

      <!-- <div class="gallery grid">
        <div class="col-6">
          <div class="bg-image square bg-img-1"></div>
        </div> 
        <div class="col-6">
          <div class="bg-image square bg-img-2 bg-pos-b"></div>
        </div> 
        <div class="col-4_xs-12">
          <div class="bg-image portrait-tall bg-img-3"></div>
        </div> 
        <div class="col-4_xs-12">
          <div class="bg-image portrait-tall bg-img-4"></div>
        </div> 
        <div class="col-4_xs-12">
          <div class="bg-image portrait-tall "></div>
        </div> 
        <div class="col-12">
          <div class="bg-image landscape bg-img-5"></div>
        </div> 
      </div> -->
</section>