---
layout: default
cards:
  - heading: Soft
    description: >-
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto incidunt
      vero et praesentium. Possimus quae praesentium eaque eius et id odit saepe
      repellat delectus, suscipit nobis facilis voluptatibus odio distinctio?
    featured_image: /uploads/sleep-co-welcome.jpg
  - heading: small heading
    description: >-
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto incidunt
      vero et praesentium. Possimus quae praesentium eaque eius et id odit saepe
      repellat delectus, suscipit nobis facilis voluptatibus odio distinctio?
    featured_image: /images/the-sleep-co-original1.jpg
  - heading: small heading
    description: >-
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto incidunt
      vero et praesentium. Possimus quae praesentium eaque eius et id odit saepe
      repellat delectus, suscipit nobis facilis voluptatibus odio distinctio?
    featured_image: /images/the-sleep-co-original1.jpg
banner: false  
---
<!--------------- Header Banner ------------------->
    <header class="grid tall-60"> 
        
        {% include header-nav.html %}

        <div class="col-12-middle text-center"> 
            <h3 class="font-weight-extra-bold editable">
                <span class="featured-text"> addictively</span>  soft
            </h3>
            <h1 class="font-weight-light editable">
                you won't want to get out of bed
            </h1> 
        </div> 
    </header>

      

    <!-- Cards  -->

    <section class="grid padded">

        {% for item in page.cards %} 

        <div class="col-4 padded-sm">
            <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"> </div>
                <div class="padded-1">
                    <h3> {{item.heading}} </h3>
                    <p> {{item.description}} </p>  
                </div>
            </div>    
        </div>

        {% endfor %} 

    </section>


        <!-----------------  Image banner   ----------------->

{% if page.banner == true %}
        <section class="padded text-center bg-dark tall-70 grid ">
            <div class="col-12-middle" >  
                <h3 class="big-text"> 
                    <span class="small-text font-weight-normal">spend over $150 and activate </span>
                    <br /><span class="featured-text">free</span> express shipping
                </h3> 
            </div>
        </section>

{% else %}

        <section class="padded text-center bg-dark tall-70 grid ">
            <div class="col-12-middle" >  
                <h3 class="big-text"> 
                    <span class="small-text font-weight-normal">looking for holiday deals? </span>
                    <br />save up to <span class="featured-text">20%</span> 
                </h3> 
            </div>
        </section>

 {% endif %}        

      <!----------------- Gallery / about Section  ----------------->
      <section class="grid"> 
        <div class="padded col-6-middle">
            <h2 class="editable">
                build to last a <span class="featured-text">lifetime</span>
            </h2> 
            <p class="editable">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cumque modi non <strong>quod deleniti </strong>a aspernatur minima veritatis ipsa obcaecati reprehenderit.
            </p> 
            <p class="editable">
                Lorem ipsum dolor sit <em>amet</em> consectetur adipisicing elit. Similique totam aperiam deleniti esse quae at <a href="https://www.google.com">asperiores, ab delectus</a> quis, dolore enim a laudantium sunt officia natus neque perferendis ipsam iusto.
            </p>    
        </div> 
        <div class="bg-image  bg-bed col-6 tall-70">
            <!-- background image bed  -->
        </div> 
        <div class="bg-image bg-pug col-6 tall-70"> 
            <!-- background image pug sleeping  -->
        </div> 
        <div class="padded col-6-middle editable">
            <h2> so <span class="featured-text">soft</span> you'll melt </h2> 
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cumque modi non quod deleniti a aspernatur minima veritatis ipsa obcaecati reprehenderit, tempore ad voluptatum temporibus iure dolorem provident necessitatibus ratione! </p>     
        </div> 
        <div class="padded col-6-middle">
            <h2 class="editable">
                build to last a <span class="featured-text">lifetime</span>
            </h2> 
            <p class="editable">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cumque modi non <strong>quod deleniti </strong>a aspernatur minima veritatis ipsa obcaecati reprehenderit.
            </p> 
            <p class="editable">
                Lorem ipsum dolor sit <em>amet</em> consectetur adipisicing elit. Similique totam aperiam deleniti esse quae at <a href="https://www.google.com">asperiores, ab delectus</a> quis, dolore enim a laudantium sunt officia natus neque perferendis ipsam iusto.
            </p>    
        </div> 
        <div class="bg-image  bg-bed col-6 tall-70">
            <!-- background image bed  -->
        </div>
    </section> 


    
   



