
<!-- Add jQuery (all the other JS go below) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Animate on Scroll  -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Lightgallery for pop-ups  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>


<!-- Important Shopify JS to buy button -->




<!-- our Customed JavaScript file (all the other JS go above) -->
<script src="/scripts.js"></script>