
<!-- Add jQuery (all the other JS go below) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Animate on Scroll  -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Lightgallery for pop-ups  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>


<!-- Important Shopify JS to buy button -->

<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }
      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }
      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: '26619c.myshopify.com',
          storefrontAccessToken: '36bd01070d0873ceebcbdbd1ce350645',
        });
        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: '8102587662633',
            node: document.getElementById('product-component-1675664286321'),
            moneyFormat: 'Rp%20%7B%7Bamount_with_comma_separator%7D%7D',
            options: {
      "product": {
        "styles": {
          "product": {
            "@media (min-width: 601px)": {
              "max-width": "calc(25% - 20px)",
              "margin-left": "20px",
              "margin-bottom": "50px"
            }
          },
          "button": {
            "font-size": "16px",
            "padding-top": "16px",
            "padding-bottom": "16px",
            ":hover": {
              "background-color": "#dca321"
            },
            "background-color": "#f4b525",
            ":focus": {
              "background-color": "#dca321"
            },
            "border-radius": "35px",
            "padding-left": "37px",
            "padding-right": "37px"
          },
          "quantityInput": {
            "font-size": "16px",
            "padding-top": "16px",
            "padding-bottom": "16px"
          }
        },
        "buttonDestination": "modal",
        "contents": {
          "options": false
        },
        "text": {
          "button": "View product"
        }
      },
      "productSet": {
        "styles": {
          "products": {
            "@media (min-width: 601px)": {
              "margin-left": "-20px"
            }
          }
        }
      },
      "modalProduct": {
        "contents": {
          "img": false,
          "imgWithCarousel": true,
          "button": false,
          "buttonWithQuantity": true
        },
        "styles": {
          "product": {
            "@media (min-width: 601px)": {
              "max-width": "100%",
              "margin-left": "0px",
              "margin-bottom": "0px"
            }
          },
          "button": {
            "font-size": "16px",
            "padding-top": "16px",
            "padding-bottom": "16px",
            ":hover": {
              "background-color": "#dca321"
            },
            "background-color": "#f4b525",
            ":focus": {
              "background-color": "#dca321"
            },
            "border-radius": "35px",
            "padding-left": "37px",
            "padding-right": "37px"
          },
          "quantityInput": {
            "font-size": "16px",
            "padding-top": "16px",
            "padding-bottom": "16px"
          }
        },
        "text": {
          "button": "Add to cart"
        }
      },
      "option": {},
      "cart": {
        "styles": {
          "button": {
            "font-size": "16px",
            "padding-top": "16px",
            "padding-bottom": "16px",
            ":hover": {
              "background-color": "#dca321"
            },
            "background-color": "#f4b525",
            ":focus": {
              "background-color": "#dca321"
            },
            "border-radius": "35px"
          }
        },
        "text": {
          "total": "Subtotal",
          "button": "Checkout"
        }
      },
      "toggle": {
        "styles": {
          "toggle": {
            "background-color": "#f4b525",
            ":hover": {
              "background-color": "#dca321"
            },
            ":focus": {
              "background-color": "#dca321"
            }
          },
          "count": {
            "font-size": "16px"
          }
        }
      }
    },
          });
        });
      }
    })();
    /*]]>*/
    </script>


<!-- our Customed JavaScript file (all the other JS go above) -->
<script src="/scripts.js"></script>