
<footer class="padded grid-spaceBetween bg-dark"> 
<div class="col-4-bottom"> 
    <h2> let's <br /> <span class="featured-text">connect</span> </h2> 
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima, quibusdam exercitationem reprehenderit magnam libero a eius rerum aliquam est sint. Facilis voluptate commodi illo. Ipsam, modi expedita? Ducimus, praesentium. </p> 

</div> 
<div class="col-5-bottom">
    <p> <strong>Call:</strong> <a href="tel:#"> 04555 5555</a>  </p> 
    <p> <strong>Email:</strong> <a href="mailto:#">hello@thesleep.co </a> </p> 
    <p> <strong>Store:</strong> 55 Main St, Chicago </p> 
    <p> <strong>Instagram:</strong> <a href="https://www.instagram.com/thesleepco">@thesleepco</a> </p>     
</div> 
</footer>